<section class="advantages">
    <div class="d-none d-md-block">
        //= logo-container.html
    </div>
    <div class="container">
        <div class="advantages__dec-container">
            <div class="advantages__text">
                <p class="display-4">мы не подведем</p>
                <div class="advantages__item-container">
                    <div class="row">
                        <div class="col-12 col-md-6 advantages__item">
                            <p class="advantages__item-title">За комфорт</p>
                            <p>У нас не бывает мороза!  </p>
                            <p>Мы всегда на связи, в любой ситуации и на любой стадии
                                    работы готовы отвечать на любые Ваши вопросы.</p>
                            <p>Вы всегда будете вкурсе любых деталей</p>
                        </div>
                        <div class="col-12 col-md-6 advantages__item">
                            <p class="advantages__item-title">За уникальность</p>
                            <p>Производим эталлонный продукт. Стиль, интуитивность
                                интерфейса, идеальный код, который позволит подключать
                                к дальнейшей работе над сайтом других программистов</p>
                        </div>
                        <div class="col-12 col-md-6 advantages__item">
                            <p class="advantages__item-title">За скорость</p>
                            <p>В работе мы всегда прикладываем
                                максимальное количество усилий,
                                чтобы сдать проэкт четко в срок:</p>
                            <ul class="list-unstyled">
                                <li>- подробно описываем ТЗ </li>
                                <li>- согласовываем толеранс</li>
                                <li>- подписываем договор</li>
                                <li>- даем гарантии и цену слова</li>
                            </ul>
                        </div>
                        <div class="col-12 col-md-6 advantages__item">
                            <p class="advantages__item-title">За деньги</p>
                            <p>Деньги потом! Сначала дизайн,</p>
                            <p>потом предоплаты.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>