<section class="consult text-white">
    <div class="container">
        //= logo-container-white.html
        <div class="consult__form-wrapp">
            <form class="consult__form">
                <div class="consult__form-title">
                    <p>Заказать разработку</p> 
                    <p>или</p> 
                    <p>получить консультацию</p>
                </div>
                <input type="text" placeholder="имя">
                <input type="text" placeholder="телефон">
                <input type="text" placeholder="email">
                <textarea placeholder="комментарий"></textarea>
                <div class="d-flex justify-content-between align-items-end">
                    <button type="submit">отправить</button>
                    <label>+ прикрепить файл<input class="d-none" type="file"></label>
                </div>
            </form>
        </div>        
    </div>
</section>