<footer class="footer">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-12 col-md">
                <p class="footer__title footer__address">Адрес студии:</p>
                <p>Украина, Киев, ул. Щорса 36</p>
                <div class="footer__social-container">
                    <p>Instagram</p>
                    <img src="img/instagram.png" alt="Instagram">
                </div>
            </div>
            <div class="col-12 col-md">
                <p class="footer__title footer__number">телефон:</p>
                <p>+38 095 631 21 55</p>
                <div class="footer__social-container">
                    <p>facebook</p>
                    <img src="img/fb.png" alt="Facebook">
                </div>
            </div>
            <div class="col-12 col-md">
                <p class="footer__title footer__email">email:</p>
                <p class="text-uppercase">sales@webcultura.com.ua</p>
                <p class="footer__copyright">2018 Web cultura studio</p>
            </div>
            <div class="col-12 col-md-auto footer__caption">
                <p>Будем рады</p>
                <p>сотрудничеству</p>
            </div>
        </div>
    </div>
</footer>