<div class="portfolio text-white" id="portfolio-link">
    <div class="logo__flex-container d-none d-md-block">
        <div class="logo">
            <img src="img/logo-wt.png">
        </div>
        <div class="menu">
            <div class="menu__container">
                <img class="menu__img" src="img/menu-wt.png">
                <p>меню</p>
            </div>
        </div>
    </div>
    <div class="container">
    </div>
    <div class="portfolio__wrapp">
        <div class="owl-carousel portfolio-carousel owl-theme">
            <div class="item">
                <div class="item_container">
                    <div class="item_decoration">
                        <img src="img/portfolio-1.jpg" data-merge="2" alt="portfolio image">
                        <div class="item_decoration-bottom"></div>
                    </div>
                    <p>RED BULL</p>
                    <div class="d-md-none">
                        <div class="item_decoration">
                            <img class="m-t-50" src="img/portfolio-2.png" data-merge="2" alt="portfolio image">
                            <div class="item_decoration-bottom"></div>
                        </div>
                        <p>SAMSUNG</p>
                    </div>
                </div>
            </div>
            <div class="item remove-item d-md-block">
                <div class="item_container">
                    <div class="item_decoration">
                        <img src="img/portfolio-2.png" data-merge="2" alt="portfolio image">
                        <div class="item_decoration-bottom"></div>
                    </div>
                    <p>SAMSUNG</p>
                </div>
            </div>
            <div class="item">
                <div class="item_container">
                    <div class="item_decoration">
                        <img src="img/portfolio-3.png" data-merge="2" alt="portfolio image">
                        <div class="item_decoration-bottom"></div>
                    </div>
                    <p>Coca cola</p>
                    <div class="d-md-none">
                        <div class="item_decoration">
                            <img class="m-t-50" src="img/portfolio-1.jpg" data-merge="2" alt="portfolio image">
                            <div class="item_decoration-bottom"></div>
                        </div>
                        <p>RED BULL</p>
                    </div>
                </div>
            </div>
            <div class="item remove-item d-md-block">
                <div class="item_container">
                    <div class="item_decoration">
                        <img src="img/portfolio-1.jpg" data-merge="2" alt="portfolio image">
                        <div class="item_decoration-bottom"></div>
                    </div>
                    <p>RED BULL</p>
                </div>
            </div>
            <div class="item">
                <div class="item_container">
                    <div class="item_decoration">
                        <img src="img/portfolio-1.jpg" data-merge="2" alt="portfolio image">
                        <div class="item_decoration-bottom"></div>
                    </div>
                    <p>RED BULL</p>
                    <div class="d-md-none">
                        <div class="item_decoration">
                            <img class="m-t-50" src="img/portfolio-2.png" data-merge="2" alt="portfolio image">
                            <div class="item_decoration-bottom"></div>
                        </div>
                        <p>SAMSUNG</p>
                    </div>  
                </div>
            </div>
            <div class="item remove-item d-md-block">
                <div class="item_container">
                    <div class="item_decoration">
                        <img src="img/portfolio-2.png" data-merge="2" alt="portfolio image">
                        <div class="item_decoration-bottom"></div>
                    </div>
                    <p>SAMSUNG</p>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio__container">
        <img class="img-fluid" src="img/portfolio-bg.png" alt="image">
        <div class="portfolio__btn-container">
            <button onclick="scrollIntoElement('consult-form')">Бесплатная консультация</button>
            <button onclick="scrollIntoElement('consult-form')">Узнать стоимость</button>
        </div>
    </div>
</div>
<div class="portfolio__after d-none d-md-block">
    <img class="img-fluid" src="img/portfolio-after.png" alt="image">
</div>