<div class="portfolio text-white">
    <div class="container">
        <div class="logo__flex-container">
            <div class="logo">
                <img src="img/logo-wt.png">
            </div>
            <div class="menu">
                <div class="menu__container">
                    <img src="img/menu-wt.png">
                    <p>меню</p>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio__wrapp">
        <div class="owl-carousel portfolio-carousel owl-theme">
            <div class="item">
                <div class="item_container">
                    <img src="img/portfolio-1.jpg" data-merge="2" alt="portfolio image">
                </div>
                <p>RED BULL</p>
            </div>
            <div class="item">
                <div class="item_container">
                    <img src="img/portfolio-2.png" data-merge="2" alt="portfolio image">
                </div>
                <p>SAMSUNG</p>
            </div>
            <div class="item">
                <div class="item_container">
                    <img src="img/portfolio-3.png" data-merge="2" alt="portfolio image">
                </div>
                <p>Coca cola</p>
            </div>
            <div class="item">
                <div class="item_container">
                    <img src="img/portfolio-1.jpg" data-merge="2" alt="portfolio image">
                </div>
                <p>RED BULL</p>
            </div>
            <div class="item">
                <div class="item_container">
                    <img src="img/portfolio-2.png" data-merge="2" alt="portfolio image">
                </div>
                <p>SAMSUNG</p>
            </div>
            <div class="item">
                <div class="item_container">
                    <img src="img/portfolio-3.png" data-merge="2" alt="portfolio image">
                </div>
                <p>Coca cola</p>
            </div>
        </div>
    </div>
    <div class="portfolio__container">
        <img src="img/portfolio-bg.png" alt="image">
        <div class="portfolio__btn-container">
            <button>Бесплатная консультация</button>
            <button>Узнать стоимость</button>
        </div>
    </div>
</div>
<div class="portfolio__after">
    <img class="img-fluid" src="img/portfolio-after.png" alt="image">
</div>