<section class="review">
    <div class="d-none d-lg-block">
        //= logo-container.html
    </div>
    <div class="container">
        <div class="review__dote-block">
            <div class="review__dec-container">
                <div class="review__text">
                    <p class="display-4">отзывы</p>
                    <p>У нас нет клиентов. У нас есть друзья и партнеры.</p>
                    <p>Крепко жмем руку и выражаем большую благодарность всем, кто сотрудничает с нами!</p>
                </div>
                <div class="review__img">
                    <img class="center-block" src="img/buss-bg.png" alt="image">
                </div>
                <div>
                    <div class="owl-carousel review-carousel owl-theme">
                        <div class="item" data-merge="4">
                            <div class="review__item-container">
                                <img src="img/review-1.png" alt="image">
                                <div class="review__item-text">
                                    <p class="review__name">Андрей Конончук</p>
                                    <p class="text-muted">CEO Andie Rich</p>
                                    <p class="review__caption">“У нас нет клиентов. У нас есть друзья и партнеры.</p>
                                    <p class="review__caption">Крепко жмем руку и выражаем большую 
                                        благодарность всем, кто сотрудничает с нами!”</p>
                                </div>
                            </div>
                        </div>  
                        <div class="item" data-merge="4">
                            <div class="review__item-container">
                                <img src="img/review-2.png" alt="image">
                                <div class="review__item-text">
                                    <p class="review__name">Андрей Конончук</p>
                                    <p class="text-muted">CEO Andie Rich</p>
                                    <p class="review__caption">“У нас нет клиентов. У нас есть друзья и партнеры.</p>
                                    <p class="review__caption">Крепко жмем руку и выражаем большую 
                                        благодарность всем, кто сотрудничает с нами!”</p>
                                </div>
                            </div>
                        </div>
                        <div class="item" data-merge="4">
                            <div class="review__item-container">
                                <img src="img/review-1.png" alt="image">
                                <div class="review__item-text">
                                    <p class="review__name">Андрей Конончук</p>
                                    <p class="text-muted">CEO Andie Rich</p>
                                    <p class="review__caption">“У нас нет клиентов. У нас есть друзья и партнеры.</p>
                                    <p class="review__caption">Крепко жмем руку и выражаем большую 
                                            благодарность всем, кто сотрудничает с нами!”</p>
                                </div>
                            </div>
                        </div>  
                        <div class="item" data-merge="4">
                            <div class="review__item-container">
                                <img src="img/review-2.png" alt="image">
                                <div class="review__item-text">
                                    <p class="review__name">Андрей Конончук</p>
                                    <p class="text-muted">CEO Andie Rich</p>
                                    <p class="review__caption">“У нас нет клиентов. У нас есть друзья и партнеры.</p>
                                    <p class="review__caption">Крепко жмем руку и выражаем большую 
                                        благодарность всем, кто сотрудничает с нами!”</p>
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="review__bg"></div>
            </div>
        </div>
    </div>
    <div class="review__bg-bottom d-none d-md-block"></div>
</section>