<section class="service">
    <div class="container">
        //= logo-container.html
        <div class="service__dec-container">
            <div class="position-absolute service__caption">
                <p>что мы делаем?</p>
            </div>
            <div class="service__text">
                <p class="display-4">создаем лучшие сайты в мире</p>
                <p>Мы создаем самые эффективные сайты для бизнеса. </p>
                <p>Наши продукты наполнены креативным и уникальным дизайном, новейшими технологиями
                                и красивой анимацией</p>
             </div>
            <div class="row justify-content-between">
                <div class="service__item col-12 col-md">
                    <p class="text-center">I</p>
                    <p>Мы создаем самые эффективные 
                                    сайты для бизнеса. 
                                    Наши продукты наполнены 
                                    креативным и уникальным дизайном, 
                                    новейшими технологиями
                                    и красивой анимацией</p>
                </div>
                <div class="service__item col-12 col-md">
                    <p class="text-center">II</p>
                    <p>Мы создаем самые эффективные 
                                    сайты для бизнеса. 
                                    Наши продукты наполнены 
                                    креативным и уникальным дизайном, 
                                    новейшими технологиями
                                    и красивой анимацией</p>
                </div>
                <div class="service__item col-12 col-md">
                    <p class="text-center">III</p>
                    <p>Мы создаем самые эффективные 
                                    сайты для бизнеса. 
                                    Наши продукты наполнены 
                                    креативным и уникальным дизайном, 
                                    новейшими технологиями
                                    и красивой анимацией</p>
                </div>
            </div>
        </div>
    </div>
    <div class="service__bottom-block">
        <div class="position-relative">
            <div class="container text-white service__bottom-container">
                <p>Мы молодая, но амбициозная студия.</p>
                <p>Наша команда состоит из лучших специалистов в сфере Web-разработки.</p>
                <p>Наши профессионалы создадут для вас самый очень красивый и эффективный сайт, который не оставит 
                                    равнодушным ни одного посетителя</p>
                <img class="service__bottom-img" src="img/bg-2.png" alt="">
            </div>
        </div>
    </div>
</section>