<section class="team">
    <div class="video__wrapper">
        <iframe class="video__iframe" src="" frameborder="0" allowTransparency="true" allowfullscreen data-src="https://www.youtube.com/embed/G4cJ4wviwS8?autoplay=1&modestbranding=1&rel=0&hl=ru&showinfo=0&color=white"></iframe>
        <button class="video__poster"></button>
     </div>
     <div class="team__content-wrapp">
        <div class="team__content container text-white">
            //= logo-container-white.html
            <div class="team__text-wrapp">
                <p class="display-4">Привет! Это мы!</p>
                <p>Тебя приветсвует команда Web cultura.</p>
                <p>Посмотри видео, чтобы познакомиться с нами!</p>
            </div>
        </div>
     </div>
</section>