.footer {
    padding: 42px 0 35px;

    @media screen and (min-width: 768px) {
        padding: 55px 0 100px;
    }

    &__social-container {
        display: flex;
        align-items: center;

        @media screen and (max-width: 767px) {
            margin-top: 5px;
        }

        @media screen and (min-width: 363px) and (max-width: 575px) {
            justify-content: center;
        }

        img {
            margin-left: 9px;
        }

        p {
            @extend .text-uppercase;
            font-weight: 500;
            font-size: 0.85rem;
            color: rgba(35, 35, 35, 255);
        }
    }

    &__caption {
        color: rgba(35, 35, 35, 255);
        font-weight: 100;
        @extend .text-uppercase;
        font-size: 1.7rem;
        line-height: 1.7rem;
        text-align: center;
        margin-top: 40px;

        @media screen and (min-width: 992px) {
            max-width: 300px;
            margin-top: 0;
            text-align: left;
            font-size: 2rem;
            line-height: 2.2rem;
        }
    }

    &__title {
        @extend .text-uppercase;
        font-weight: 500;
        font-size: 0.8rem;
        color: rgba(35, 35, 35, 255);
        letter-spacing: 1px;
        position: relative;

        @media screen and (max-width: 599px) {
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) {
            margin-bottom: 13px;
        }
        
            &:after {
                @media screen and (min-width: 768px) {
                    position: absolute;
                    content: '';
                    height: 1px;
                    background-color: #232323;
                    top: 8px;
                }
            }

       & + p {
            font-size: 0.9rem;
            color: rgba(35, 35, 35, 255);

            @media screen and (min-width: 768px) {
                margin-bottom: 33px;
            }
        }
    }

    p.text-uppercase {
        font-size: 0.78rem;
    }

    &__copyright {
        font-size: 0.8rem;

        @media screen and (max-width: 767px) {
            margin-top: 5px;
        }

        @media screen and (min-width: 363px) and (max-width: 575px) {
            text-align: center;
        }
    }

    &__address {

        &:after {
            width: 71px;
            left: 117px;
        }
    }

    &__number {

        &:after {
            width: 41px;
            left: 77px;
        }
    }

    &__email {
        &:after {
            width: 127px;
            left: 54px;
        } 
    }

    &__item-container {
        @media screen and (max-width: 575px) {
            display: block;
        }
    }

    &__item {

        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            min-height: 100%;
            margin-bottom: 20px;
        }

        @media screen and (max-width: 362px) {
            max-width: 170px;
            margin: 0 auto 20px;
        }
    }

    .item-flex-container {
        @media screen and (min-width: 363px) and (max-width: 575px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            @media screen and (min-width: 363px) and (max-width: 575px) {
                margin: 0 5px;
            }
        }
    }
}