.header {
    background: url('../img/header-bg-lg.png') center top no-repeat;
	background-size: cover;
    height: 862px;
    padding-top: 40px;

    @media screen and (min-width: 768px) {
        padding-top: 61px;
    }

    @media screen and (min-width: 1025px) {
        min-height: 100vh;
    }

    .logo__flex-container {
        display: flex;
        justify-content: space-between;
        min-height: 212px;
        max-width: 1160px !important;
        padding: 0 10px;

        @media screen and (min-width: 1400px) {
            max-width: 1360px !important;
        }
    }

    .header__caption {
        p {
            @extend .text-uppercase;
            font-weight: 700;
            font-size: 0.88rem;
            letter-spacing: 7px;
        }

        > .center-block {
            max-width: 280px;
            margin-top: 60px;

            @media screen and (min-width: 500px) {
                max-width: 500px;
            }

            @media screen and (min-width: 768px) {
                max-width: 800px;
                margin-top: 0;
            }

            @media screen and (min-width: 1400px) {
                max-width: 1000px;
            }
        }
    }

    .header__title {
        p {
            letter-spacing: 0;
            font-family: $caps;
            margin-top: 10px;
            font-size: 2.5rem;

            @media screen and (min-width: 500px) {
                font-size: 4.5rem !important;
            }

            @media screen and (min-width: 768px) {
                font-size: 6.85rem !important;
            }
        }

        &:before {
            @media screen and (min-width: 1400px) {
                position: absolute;
                content: '';
                display: block;
                width: 166px;
                height: 1px;
                background-color: rgba(18, 18, 18, 255);
                top: 5px;
                left: 0;
            }
        }

        @media screen and (min-width: 1400px) {
            position: relative;

            p {
                font-size: 9.5rem !important;
                margin-top: 31px;
            }
        }
    }
}