.menu {
    position: relative;

    &__container {
        transform: rotate(90deg);
        display: flex;
        align-items: flex-start;
        position: absolute;
        top: 105px;
        right: -100px;

        @media screen and (min-width: 768px) {
            top: 75px;
            right: -60px;
        }

        @media screen and (min-width: 1180px) {
            right: 0;
        }
    }

    p, button {
        margin-left: 25px;
        font-weight: 500;
        @extend .text-uppercase;
        font-size: 1.1rem;
        letter-spacing: 1px;
        padding-top: 4px;

        @media screen and (min-width: 768px) {
            margin-left: 16px;
            font-size: 0.77rem;
        }
    }

    button {
        pointer-events: all;
    }

    &__img {
        transform: rotate(-90deg);

        @media screen and (min-width: 768px) {
            width: 23px;
        }
    }
}