.portfolio {
    overflow: hidden;
    background-color: #232323;

    .portfolio__container {
        background-color: #232323;
        padding-top: 96px;

        @media screen and (max-width: 767px) {
            padding-bottom: 30px;
            padding-top: 0;
        }
    }

    .logo__flex-container {
        padding: 0 15px;
    }

    .portfolio__wrapp {

        @media screen and (max-width: 767px) {
            margin-right: 0;
            max-width: 480px;
            margin: 0 auto;
            padding: 0 20px;
        }
    }

    .menu__container {
        top: -70px;
        right: -20px;
    }

    &__container {
        margin: 0 auto;
        position: relative;
    }

    &__btn-bg {
        position: relative;

        @media screen and (max-width: 767px) {
            padding-bottom: 80px;
            padding-top: 0;
        }
    }

    &__btn-container {
        display: flex;
        background-color: transparent;
        position: absolute;
        top: 85px;
        left: 0;

        @media screen and (max-width: 767px) {
            right: 0;
            width: 100%;
            justify-content: center;
            padding: 0 5px;
        }

        button {
            height: 49px;
            padding: 0 22px;
            font-weight: 400;
            letter-spacing: 1.5px;

            &:first-child {
                color: rgba(1, 1, 1, 255);
                background-color: #fff;
            }

            &:last-child {
                border: 1px solid #fff;
                color: #fff;
                margin-left: 7px;
            }
        }
    }
}

.portfolio__after {
    width: 50%;
    margin-top: -2px;
    position: absolute;
}

.portfolio-modal {
    .modal-body {
        max-width: 752px;
        margin: 0 auto;
        padding: 0;
        width: 100%;

        @media screen and (max-width: 991px) {
            max-width: 650px;
            padding: 0 20px;
        }

        @media screen and (min-width: 992px) {
            padding-bottom: 100px;
        }
    }

    .display-4 {
        margin-bottom: 80px;
        @media screen and (max-width: 991px) {
            margin-bottom: 30px;
        }
    }

    input, .btn-submit {
        display: block;
        width: 100%;
    }

    input {
        border-bottom: 1px solid #000;
        height: 70px;
        margin-top: 50px;

        @media screen and (max-width: 991px) {
            height: 50px;
            margin-top: 20px;
        }

        &::placeholder {
            font-size: 1.6rem;
            color: rgba(166,166,166,255);

            @media screen and (max-width: 991px) {
                font-size: 1.2rem;
            }
        }
    }

    .btn-submit {
        color: #fff;
        text-transform: uppercase;
        background-color: #47d2e7;
        font-weight: 500;
        font-size: 1.7em;
        font-family: $caps;
        margin: 120px 0 10px;
        padding: 20px 0 12px;

        @media screen and (max-width: 991px) {
            margin: 70px 0 10px;
            font-size: 1.3em;
            padding: 19px 0 11px;
        }
    }

    .modal-info {
        max-width: 500px;
        line-height: 1.2em;
    }
}