.service {
    position: relative;
    
    @media screen and (min-width: 1025px) {
        min-height: 100vh;
    }

    @media screen and (min-width: 768px) {
        padding-top: 39px;
    }

    .container {
        @media screen and (min-width: 1400px) {
            max-width: 1260px;
        }
    }

    .menu__container {
        top: -20px;
    }

    .service__item-container {
        @media screen and (max-width: 767px) {
            max-width: 270px;
            margin: 0 auto;
        }
    }

    .service__item {
        max-width: 264px;
        margin-bottom: 40px;

        @media screen and (min-width: 768px) {
            margin-bottom: 77px;
        }

        p {
            font-weight: 400;
            font-size: 0.9rem;
            line-height: 1rem;

            &:first-child {
                font-size: 1.5rem;
                padding-bottom: 13px;

                @media screen and (min-width: 768px) {
                    padding-bottom: 29px;
                }
            }
        }
    }

    .service__dec-container {
        border-left: 1px solid #232323;
        padding: 90px 0 300px 12px;
        position: relative;
        margin: 0 0 27px 30px;

        @media screen and (min-width: 355px) {
            padding: 100px 0 300px 12px;
        }
        
        @media screen and (min-width: 655px) {
            padding: 120px 0 300px 25px;
        }

        @media screen and (min-width: 768px) {
            padding: 30px 0 300px 27px;
            margin: 10px 0 0 30px;
        }

        @media screen and (min-width: 1400px) {
            padding: 10px 0 300px 25px;
            margin: 53px 0 0 30px;
        }
    }

    .service__text {
        padding-right: 50px;
        margin-bottom: 15px;

        @media screen and (min-width: 768px) {
            padding-right: 150px;
            margin-bottom: 95px;
        }

        p {
            font-size: 1.15rem;
            line-height: 1.3rem;
        }
    }

    .display-4 {
        margin-bottom: 25px;

        @media screen and (min-width: 768px) {
            margin-bottom: 8px;
        }
    }

    .service__caption {
        left: -55px;
        top: 110px;
        transform: rotate(-90deg);
        font-size: 0.7rem;

        @media screen and (min-width: 768px) {
            top: 170px;
            font-size: 100%;
            left: -80px;
        }

        @media screen and (min-width: 768px) and (max-width: 806px) {
            top: 125px !important;
        }

        @media screen and (min-width: 1400px) {
            top: 190px;
        }

        p {
            font-weight: 400;
            position: relative;

            &:before {
                position: absolute;
                content: '';
                display: block;
                left: -17px;
                top: -7px;
                height: 249px;
                width: 1px;
                background-color: #232323;

                @media screen and (min-width: 650px) and (max-width: 767px) {
                    left: -30px;
                }

                @media screen and (min-width: 807px) and (max-width: 990px) {
                    left: -77px;
                }
            }
        }
    }

    .service__bottom-block {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -2px;
        width: 100%;
        background-color: #232323;

        @media screen and (min-width: 768px) {
            bottom: 96px;
        }
    }

    .service__bottom-container {
        padding: 52px 25px 60px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p {
            line-height: 1.31rem;
            max-width: 807px;

            &:first-child {
                margin-bottom: 15px;
            }
        }
    }

    .service__bottom-img {
        position: absolute;
        bottom: -26px;
        right: 0;
        width: 76%;
        height: 26px;

        @media screen and (min-width: 1024px) {
            width: 100%;
            max-width: 866px;
        }
    }
}