.video__wrapper {
    margin: 0 auto;
    position: relative;
    height: 650px;
    pointer-events: all;

    @media screen and (min-width: 1025px) {
        min-height: 100vh;
    }
    
    @media screen and (min-width: 768px) {
        height: 876px;
    }

    .video__iframe {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video__poster-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background:url('../img/team-bg.png') no-repeat top;
        background-size: cover;
        opacity: 1;
        transition: opacity 800ms, height 0s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;

        @media screen and (min-width: 576px) {
            padding-top: 0;
        }
    }
}

.team__active {
    .video__wrapper {
        background-color: #000;
    }
    .video__poster-container {
        opacity: 0;
        height: 0;
        transition-delay: 0s, 800ms;
    }

    .team__content-wrapp {
        display: none;
    }
}
  
.team {
    position: relative;

    .display-4 {
        @media screen and (min-width: 500px) and (max-width: 767px) {
            font-size: 3.5rem !important;
            line-height: 3rem !important;
        }
    }

    &__content-wrapp {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        padding-top: 37px;
    }

    .logo__flex-container {
        height: 184px;
    }

    .menu__container {
        top: -20px;
    }

    .team__text-wrapp {
        margin-left: 70px;

        @media screen and (max-width: 767px) {
            padding-top: 100px;
        }

        p {
            font-size: 1.15rem;
            line-height: 1.2rem;
        }
    }
}